.button{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    margin: 5px;
}

.primary{
   color: #007bff;
   border: 2px solid #007bff;
}

.primary:hover{
    width: fit-content;
    
    text-align: center;
    color: white;
    background-color: #007bff;
    
}

.success{
    color: #28a745;
    border: 2px solid #28a745;
 }
 
 .success:hover{
     width: fit-content;
     padding: 10px;
     text-align: center;
     color: white;
     background-color: #28a745;
     
 }
 
 .danger{
    color: #dc3545;
    border: 2px solid #dc3545;
 }
 
 .danger:hover{
     width: fit-content;
     padding: 10px;
     text-align: center;
     color: white;
     background-color: #dc3545;
     
 }

 .warning{
    color: #ffc107;
    border: 2px solid #ffc107;
 }
 
 .warning:hover{
     width: fit-content;
     padding: 10px;
     text-align: center;
     color: white;
     background-color: #ffc107;
     
 }

 .dark{
    color: #343a40;
    border: 3px solid #343a40;
 }
 
 .dark:hover{
     width: fit-content;
     padding: 10px;
     text-align: center;
     color: white;
     background-color: #343a40;
     
 }