.profile-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
 

}

.profile-name{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-bio{
line-height: 1.5em;
}

.profile-picture{
width: 100px;
height: 100px;
border-radius: 5px;
float: left;
}

.profile-socials{
    color: #1a73e8
}

.profile-title{
margin-left: 5px;
}

body{
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
}